<div class="container about">
    <section class="About">
        <div class="content">
            <div class="container">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">2 Years</span>
                                        <span class="year">2021-2023</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Web Developer, CitiBank</h5>
                                <p class="description">
                                    Created responsive web pages for CitiBank's commercial partners
                                    and made sure the website was compliant to WCAG standards. 
                                    Experienced in development of new components for the 
                                    website, deployment as well critical defect fixing.
                                </p>
                            </div>
                    </div>

                    <div class="timeline">
                        <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">1.5 Years</span>
                                        <span class="year">2020-2021</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Support Analyst, Sanofi</h5>
                                <p class="description">
                                    Provided Technical Support using ServiceNow ticketing tool. Also
                                    worked in Project Management and was responsible for technical
                                    transitions during the cutover phase of the project.
                                    Experienced in working with clients from all around the globe.
                                </p>
                            </div>
                    </div>
                                        
                    <div class="timeline">
                        <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">6 Months</span>
                                        <span class="year">2019</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Graduate Trainee</h5>
                                <p class="description">
                                    Worked on a mini-project for developing an AR app.
                                    The application detected an area to place game objects 
                                    in order to create a virtual environment.
                                    Also worked on game development using Unity.
                                </p>
                            </div>
                    </div>

                                    </div>
                </div>
            
        </div>
        </section>
</div>
