<div class="container about">
    <section class="About">
        <div class="content">
            
        </div>
        </section>
</div>


               <!--I am Shaurya Sodhi, an enthusiastic Web Developer!
                <br>
                I have 4+ years of experience in the IT industry during which I worked as a 
                Web Developer as well as a Customer Support Analyst. I have vast experience 
                working with clients from all around the globe and providing state-of-the art
                solutions to technical problems.
                <p></p>
                I am very passionate about web development technologies and always strive to
                explore and learn as much as possible so as to enhance my technical skill
                set and improve myself as a prospective employee.
                <p></p>
                I beleive in team-work, good --> 