<ngb-carousel>
    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <img class="carouselImg" src="/assets/images/frontend.jpeg">
            <div class="caption">
                <p class="caption-heading">Frontend</p>
				<p class="caption-desc">
                    Angular,
                    Vue.Js,
                    HTML5,
                    CSS3,
                    TypeScript,
                    JavaScript,
                    Jquery,
                    Handlebars.js,
                    Bootstrap
                </p>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <img class="carouselImg" src="/assets/images/backend.jpeg">
            <div class="caption1">
                <p class="caption-heading">Backend</p>
				<p class="caption-desc">
                    Java,
                    Microservices,
                    SpringBoot,
                    RESTful APIs
                </p>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <img class="carouselImg1" src="/assets/images/tools.jpeg">
            <div class="caption2">
                <p class="caption-heading">Tools</p>
				<p class="caption-desc">
                    Jenkins, 
                    Bitbucket,
                    Jira,
                    Confluence,
                    Splunk,
                    Postman,
                    RedHat Openshift Enterprise,
                    <br>
                    Release Lifecycle Management (RLM),
                    Integrated Content Management System (ICMS),
                    <br>
                    Oracle SQL Developer
                </p>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <img class="carouselImg2" src="/assets/images/skills.jpeg">
            <div class="caption3">
                <p class="caption-heading">Other Skills & Methodologies</p>
				<p class="caption-desc">
                    Game Development (Unity, C#, Maya Modelling & Photoshop)
                    <br>
                    Agile Methodology
                    <br>
                </p>
            </div>
        </div>
    </ng-template>


</ngb-carousel>

 

<footer class="contactMe" mat-dialog-actions align="center">
    <button mat-raised-button (click)="openBottomSheet()">Contact Me!</button>
</footer>
