.carousel-wrapper{
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position:relative;
    font-family: "Roboto","Calibri","Arial",sans-serif;
    color: #efeff1;
    background-repeat:no-repeat;
    word-wrap: break-word;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
    .caption{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 20%; 
    }
    .caption1{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 35%;
    }
    .caption2{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 20%;
    }
    .caption3{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 30%;
    }
}
.carouselImg{
    width:100vw !important;
    height:100vh !important;
    opacity: 0.45;
    padding: 50px;
}
.carouselImg1{
    width:100vw !important;
    height:100vh !important;
    opacity: 0.35;
    padding: 50px;
}
.carouselImg2{
    opacity: 0.35;
    justify-content: center;
    width:100vw !important;
    height:100vh !important;
    padding: 50px;
}

.caption-heading{
    font-size: 40px;
    padding-top:20%;
}
caption-desc{
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    text-wrap: wrap;
}