.carousel-wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
    position:relative;
    font-family: "Roboto","Calibri","Arial",sans-serif;
    color: #efeff1;
    background-repeat:no-repeat;
    word-wrap: break-word;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
    .caption{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 20%; 
    }
    .caption1{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 35%;
    }
    .caption2{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 20%;
    }
    .caption3{
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: 30%;
    }
}
.carouselImg{
    width:100% !important;
    height:auto !important;
    opacity: 0.45;
    padding: 50px;
}
.carouselImg1{
    width:100% !important;
    height:auto !important;
    opacity: 0.35;
    padding: 50px;
}
.carouselImg2{
    opacity: 0.35;
    justify-content: center;
    width:100% !important;
    height:auto !important;
    padding: 50px;
}

.caption-heading{
    font-size: 40px;
    padding-top:20%;
}
.caption-desc{
    text-align: center;
    font-size: 20px;
    text-wrap: wrap;
}

/* Adding Media queries for smaller screens sizes */
/* Media queries start */

@media screen and (min-width: 950px) and (max-width: 1200px) {
    .caption{
        right: 10% !important; 
    }
    .caption1{
        right: 25% !important; 
    }
    .caption2{
        right: 10% !important; 
    }
    .caption3{
        right: 20% !important; 
    }
  }

  @media screen and (min-width: 901px) and (max-width: 949px) {
    .caption{
        left: 15% !important; 
    }
    .caption1{
        right: 25% !important; 
    }
    .caption2{
        left: 15% !important;
    }
    .caption3{
        right: 20% !important; 
    }
  }

  @media screen and (min-width: 775px) and (max-width: 900px) {
    .caption{
        left: 15% !important; 
    }
    .caption1{
        right: 25% !important; 
    }
    .caption2{
        left: 18% !important;
    }
    .caption3{
        right: 16% !important; 
    }
  }

  @media screen and (min-width: 150px) and (max-width: 774px) {
    .caption{
        left: 15% !important; 
    }
    .caption1{
        left: 35% !important; 
    }
    .caption2{
        left: 18% !important;
    }
    .caption3{
        left: 30% !important; 
    }
    .caption-heading{
        font-size: 10px;
    }
    .caption-desc{
        font-size: 10px;
    }
  }