.carousel-wrapper{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.caption{
    position: absolute;
    top: 40px;
	left: 40px;
	bottom: 0;
	right: 40px;
    font-weight: bold;
    color: #efeff1;
    text-align: center;
    background-image: url('/assets/images/frontend.jpeg');
    
}
.caption-heading{
    font-size: 40px;
    padding-top:20%;
}
caption-desc{
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    text-wrap: wrap;
}