.Introduction{
    color: #76323F;
    text-align: left;
}
.container.intro{
    width:75%;
    margin-left:0%;
    border-radius: 5px ;
}
.content{
    padding:20px;
}
.container.info{
    padding-top:30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    text-align: left;
}