<div class="image">
</div>
<div class="wrap">
    <section class="navigation">
        <div class="navigationBar container">
            <div class=row>
                <div class="col-sm-4">
                    <button class="btn btn-primary intro">Introduction</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary abt">About</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary cntct">Contact</button>
                </div>
            </div>
        </div> 
    </section>
    <div class="container">
        <section class="Introduction">
            <p>Hello! My Name is Shaurya Sodhi.</p>
            <p>Welcome to my Portfolio!</p>
        </section>
        <hr>
        <section class="About">
            <app-about></app-about>
        </section>
        <hr>
        <section class="Contact">
            <app-contact></app-contact>
        </section>
    </div>
</div>

