<div class="image">
    <img src="/assets/images/display.jpg" class="displayPicture">
</div>
<div class="wrap">
            <div class="navbar">
                <mat-tab-group mat-stretch-tabs="false" backgroundColor="primary" color="accent">
                <mat-tab label="Introduction">
                    <app-introduction></app-introduction>
                </mat-tab>
                <mat-tab label="About">
                    <app-about></app-about>
                </mat-tab>
                <mat-tab label="Skills">
                    <app-skills></app-skills>
                </mat-tab>
              </mat-tab-group>
            </div>   

            <footer class="contactMe" mat-dialog-actions align="center">
                <button mat-raised-button (click)="openBottomSheet()">Contact Me!</button>
            </footer>
</div>
    
