.wrap{
  width: 100vw;
  height: 80vh;
  overflow:auto;
  background-color: #1B2240;
}
.navbar
{
  width: 100% !important;
  overflow: auto;
  border-radius: 5px;
  --bs-navbar-padding-y: 0;
}

.displayPicture {
    border-radius: 50%;
    height:150px;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-top: 15px;
  }
  .mat-mdc-tab-group.mat-accent{
    width:100vw;
  }
  .mat-mdc-tab-group.mat-background-primary, .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-tab-header-with-background-background-color: #383f56!important;
    --mat-tab-header-with-background-foreground-color: #efeff1;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #ad9bf6 !important;
}

.mat-mdc-tab-group.mat-accent, .mat-mdc-tab-nav-bar.mat-accent {
  --mdc-tab-indicator-active-indicator-color: #ad9bf6 !important;
  --mat-tab-header-active-focus-indicator-color: #ad9bf6;
}

.contactMe{
    margin-top: 10px;
  }
.mat-mdc-raised-button:not(:disabled) {
    background-color: #ad9bf6 !important;
    color: #080f30 !important;
    text-transform: uppercase;
    font-family: "Roboto","Calibri","Arial",sans-serif;
}

.mat-bottom-sheet-container {
  background-color: #080f30!important;
}

.mdc-list-item__primary-text {
  color: #efeff1 !important;
}
.mdc-list-item__secondary-text {
  color: #efeff1 !important;
}

.image{
  display: flex;
  flex-direction: row;
  height: 180px;
  width: 100vw;
  background-size:cover;
  overflow: auto;
  background-color: #060F2F;
  justify-content: center;
}

.headline{
  color: #ad9bf6;
  font-family: "Roboto","Calibri","Arial",sans-serif;
  font-size: 5em;
  font-weight: 50px;
  padding-top:80px;
}

.row > * {
  width: unset;
}
.col-xs-6.pic{
  padding-left: 30px;
}

/* Adding Media queries for smaller screens sizes */
/* Media queries start */

@media screen and (min-width: 500px) and (max-width: 700px) {
  .headline{
    font-size: 3.5em;
  }
  .displayPicture {
    height: 100px;
    width: 100px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  .headline{
    font-size: 2.5em;
  }
  .displayPicture {
    height: 100px;
    width: 100px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 399px) {
  .displayPicture {
    height: 100px;
    width: 100px;
  }
  .headline{
    padding-top:40px;
    font-size: 2.5em;
  }
}

/* Media queries end */