<div class="wrap">
    <img src="/assets/images/display.jpeg">
    <p></p>
            <div class="navbar">
                <mat-tab-group mat-stretch-tabs="false" backgroundColor="primary" color="accent">
                <mat-tab label="Introduction">
                    <app-introduction></app-introduction>
                </mat-tab>
                <mat-tab label="About">
                    <app-about></app-about>
                </mat-tab>
                <mat-tab label="Contact">
                    <app-contact></app-contact>
                </mat-tab>
              </mat-tab-group>
            </div>   
</div>
    
